.body{
  font-family: 'Montserrat', sans-serif";
}

.header{
  background: #BBBBBB;
  padding: 20px;
}

.caja{
  width: 940px;
  position: relative;
  margin: 0 auto;
  padding: 20px;
}

.nav-head{
  position: absolute;
  top:110px;
  right: 0;
}

.nav-head li{
  display: inline;
  margin: 0 0 0 15px;
}

.nav-head a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.nav-head a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.principal{
  padding: 3em 0;
  background: #FEFEFE;
  width: 940px;
  margin: 0 auto; 
}

.principal h1{
  text-align: center;
  font-size: 25px;
}

.texto{
  padding: 3em 0;
  background: #FEFEFE;
  width: 940px;
  margin: 0 auto;
}






footer{
  text-align: center;
  background: url(imagenes/bg.jpg);
  padding:40px;
}

.copyright{
  color: black;
  font-size: 15px;
  margin:20px;
}